<form id="sign-in-page" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <nb-card accent="info" id="sign-in-form">
    <nb-card-header>Авторизация</nb-card-header>
    <nb-card-body>
        <input nbInput type="text" placeholder="Почта" formControlName="email" autocomplete="on"
          [status]="form.controls['email'].invalid && form.controls['email'].touched ? 'danger' : 'basic'">
        <input nbInput type="password" placeholder="Пароль" formControlName="password" autocomplete="on"
          [status]="form.controls['password'].invalid && form.controls['password'].touched ? 'danger' : 'basic'">
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">Войти</button>
    </nb-card-footer>
  </nb-card>
</form>



