<form id="recovery-page" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <nb-card accent="info" id="recovery-form" *ngIf="!sentEmail">
    <nb-card-header>Восстановление пароля</nb-card-header>
    <nb-card-body>
        <input nbInput type="text" placeholder="Почта" formControlName="email" autocomplete="on"
          [status]="form.controls['email'].invalid && form.controls['email'].touched ? 'danger' : 'basic'">
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">Восстановить</button>
    </nb-card-footer>
  </nb-card>
  <nb-card accent="info" id="recovery-form" *ngIf="sentEmail">
    <nb-card-header>Письмо восстановления пароля было отправлено на {{form.value.email}}.</nb-card-header>
  </nb-card>
</form>



