<app-token (selectedPromTokensChange)="onSelectedPromTokensChange($event)"></app-token>

<input type="text" placeholder="Введите текст" [(ngModel)]="params.searchText">

<select [(ngModel)]="params.searchBy">
  <option [value]="SearchProductsBy.Name">Имя</option>
  <option [value]="SearchProductsBy.Description">Описание</option>
  <option [value]="SearchProductsBy.Sku">Артикул</option>
  <option [value]="SearchProductsBy.Keywords">Ключевые слова</option>
</select>

<select [(ngModel)]="params.availabilityBy">
  <option [value]="ProductAvailabilityBy.Name">Имя</option>
  <option [value]="ProductAvailabilityBy.Sku">Артикул</option>
</select>

<button (click)="search()">Поиск</button>

<table>
  <tr>
    <th>
      
    </th>
    <th>
      Название
    </th>
    <th>
      Наличие
    </th>
  </tr>
  <tr *ngFor="let product of products">
    <td>
      <img [src]="product.mainImage" alt="">
    </td>
    <td>
      {{ product.name }}
    </td>
    <td>
      {{ product.availableInShops }}
    </td>
  </tr>
</table>
