<app-token (selectedPromTokensChange)="onSelectedPromTokensChange($event)"></app-token>

<input nbInput type="text" placeholder="Введите текст" [(ngModel)]="params.searchText">

<nb-select [(ngModel)]="params.searchBy">
  <nb-option [value]="SearchProductsBy.Name">Имя</nb-option>
  <nb-option [value]="SearchProductsBy.Description">Описание</nb-option>
  <nb-option [value]="SearchProductsBy.Sku">Артикул</nb-option>
  <nb-option [value]="SearchProductsBy.Keywords">Ключевые слова</nb-option>
</nb-select>

<nb-select [(ngModel)]="params.availabilityBy">
  <nb-option [value]="ProductAvailabilityBy.Name">Имя</nb-option>
  <nb-option [value]="ProductAvailabilityBy.Sku">Артикул</nb-option>
</nb-select>

<button nbButton status="primary" (click)="search()">Поиск</button>

<nb-card>
  <nb-card-body>

    <table [nbTreeGrid]="data" equalColumnsWidth>

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container nbTreeGridColumnDef="name">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Название</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data.name}}
        </td>
      </ng-container>

      <ng-container nbTreeGridColumnDef="availableInShops">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Наличие</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data.availableInShops}}
        </td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>