<form id="sign-up-page" [formGroup]="form" (ngSubmit)="submit()">
  <nb-card accent="info" id="sign-up-form">
    <nb-card-header>Регистрация</nb-card-header>
    <nb-card-body>
      <input nbInput type="text" placeholder="Почта" formControlName="email" autocomplete="on"
        [status]="form.controls['email'].invalid && form.controls['email'].touched ? 'danger' : 'basic'">
      <input nbInput type="password" placeholder="Пароль" formControlName="password" autocomplete="on"
        [status]="form.controls['password'].invalid && form.controls['password'].touched ? 'danger' : 'basic'">
      <input nbInput type="password" placeholder="Подтвердите пароль" formControlName="confirmPassword" autocomplete="on"
        [status]="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched ? 'danger' : 'basic'">
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">Регистрация</button>
    </nb-card-footer>
  </nb-card>
</form>



