<form id="recovery-page" [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <nb-card accent="info" id="recovery-form" *ngIf="!wasReset">
    <nb-card-header>Сброс пароля</nb-card-header>
    <nb-card-body>
      <input nbInput type="password" placeholder="Пароль" formControlName="password" autocomplete="on"
        [status]="form.controls['password'].invalid && form.controls['password'].touched ? 'danger' : 'basic'">
      <input nbInput type="password" placeholder="Подтвердите пароль" formControlName="confirmPassword" autocomplete="on"
        [status]="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched ? 'danger' : 'basic'">
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">Сбросить</button>
    </nb-card-footer>
  </nb-card>
  <nb-card accent="info" id="recovery-form" *ngIf="wasReset">
    <nb-card-header>Пароль был успешно сброшен.</nb-card-header>
  </nb-card>
</form>



