#recovery-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recovery-form {
  width: 50%;
  max-width: 400px;

  & input {
    width: 100%;
    max-width: 100%;
  }

  & input + input {
    margin-top: 20px;
  }

  button {
    width: 100%;
  }
}