<table>
  <tr>
    <th>

    </th>
    <th>
      <input nbInput type="text" placeholder="Введите новый токен" [(ngModel)]="newToken">
    </th>
    <th>
      <button nbButton status="primary" (click)="addToken()">Добавить</button>
    </th>
  </tr>
  <tr *ngFor="let promToken of promTokens"
  [class.valid-token]="promToken.isValid"
  [class.invalid-token]="!promToken.isValid">
    <th>
      <nb-checkbox status="primary" [checked]="isSelected(promToken)" (click)="$event.preventDefault(); toggleSelection(promToken)" [disabled]="!promToken.isValid"></nb-checkbox>
    </th>
    <th>
      {{promToken.token}}
    </th>
    <th>
      <button nbButton status="primary" (click)="removeToken(promToken)">Удалить</button>
    </th>
  </tr>
</table>
